.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    min-height: 80vh;
}

.container__buttonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 60px;
    border-radius: 10px;
    background-color: #b3b1b1;
}

.container__buttonsWrapper__button {
    width: 200px;
    height: 75px;
    background-color: #232323;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 5px 5px #151515;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    line-height: 75px;
    cursor: pointer;
}

.container__buttonsWrapper__button:hover {
    background-color: #393838;
    box-shadow: 2px 2px #151515;
    color: #b3b1b1;
}

.container__link {
    text-decoration: none;
    color: #fff;
}

.container__header {
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin: 0;
}